/* 重置&默认(reset&base)(tags) */
*[hidefocus], input, textarea, a {
  outline: none;

}

fieldset, img, html, body, iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  list-style: none;
}

html, body, #app {
  height: 100%;
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline:none
}

